* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li,
ol {
  list-style-type: none;
}

/* text type input option */
input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	border : none;
	-webkit-text-fill-color: var(--font);
	-webkit-box-shadow: 0 0 0px 1000px var(--search) inset;
    box-shadow: 0 0 0px 1000px var(--search) inset;
	transition: background-color 5000x ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: var(--font);
    -webkit-box-shadow: 0 0 0px 1000px var(--search) inset;
    box-shadow: 0 0 0px 1000px var(--search) inset;
    transition: background-color 5000s ease-in-out 0s;
}