<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/common/styles.css}">
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/common/error.css}">
    <title>에러 | DevFolio</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <section>
        <h1>에러가 발생했습니다</h1>
        <p th:if="error" th:text="${error}"></p>
        <a href="/main">홈으로 돌아가기</a>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>