<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>메인 페이지</title>
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link rel="stylesheet" th:href="@{/css/common/footer.css}">
  <link rel="stylesheet" th:href="@{/css/common/styles.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

  <span>
    <th:block th:if="${session.loginUserIdx == null}">
      <form th:action="@{/login}" method="get" class="button-form">
        <button type="submit" class="loginBtn">로그인</button>
      </form>
    </th:block>
    <th:block th:if="${session.loginUserIdx != null}">
      <form th:action="@{/logout}" method="post" class="button-form">
        <button type="submit" class="loginBtn">로그아웃</button>
      </form>
    </th:block>
  </span>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>