<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/common/styles.css}">
    <link rel="stylesheet" th:href="@{/ckeditor5/ckeditor5.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio_write.css}">
    <title th:text="${portfolio.title} + ' 편집 | DevFolio'">포트폴리오 편집 | DevFolio</title>
</head>
<body>
<header></header>
<main>
    <!-- Todo : Dto 설정 추가 -->
    <div class="container">
        <section class="form-section">
            <div class="title-box">
                <h1>포트폴리오 수정하기</h1>
                <span>*은 필수 입력 항목입니다.</span>
            </div>
            <form th:action="@{/portfolio/edit}" method="post" id="write-form"
                  th:object="${portfolioEditDto}">
                <div class="input-group">
                    <label for="title" class="group-label">
                        <span>제목</span>
                        <span class="required-mark">*</span>
                    </label>
                    <input type="text" id="title" th:field="*{title}"
                           placeholder="포트폴리오 제목을 작성해주세요"
                           maxlength="200" required>
                </div>
                <div class="input-group">
                    <label for="start-date" class="group-label">
                        <span>프로젝트 기간</span>
                    </label>
                    <input type="date" id="start-date" th:field="*{startDate}">
                    <span>-</span>
                    <input type="date" id="end-date" th:field="*{endDate}">
                </div>
                <div class="input-group category-input-group">
                    <div class="group-label">
                        <span>카테고리</span>
                        <span class="required-mark">*</span>
                    </div>
                    <div class="category-box">
                        <ul class="category-list"
                            th:each="category : ${categories}">
                            <li>
                                <input type="checkbox" th:id="${category.name}" th:field="*{category}" required>
                                <label th:for="${category.name}" th:text="${category.name}">카테고리 이름</label>
                            </li>
                        </ul>
                        <span>카테고리는 중복 선택할 수 있습니다.</span>
                    </div>
                </div>
                <div class="input-group image-input-group">
                    <label for="thumbnail" class="image-label">
                        <img th:src="@{/assets/icon/image.svg}" alt="이미지 아이콘">
                        <span>포트폴리오의 썸네일을 추가해주세요</span>
                    </label>
                    <input type="file" id="thumbnail" accept="image/*" th:field="*{thumbnail}">
                    <div class="image-preview">
                        <div class="preview-box">
                            <img alt="업로드한 이미지 미리보기">
                            <button type="button" class="img-remove-btn">
                                <img th:src="@{/assets/icon/x-lg.svg}" alt="취소 버튼">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="input-group textarea-input-group">
                    <label for="description" class="group-label">
                        <span>상세 설명</span>
                        <span class="required-mark">*</span>
                    </label>
                    <input type="textarea" id="description" th:field="*{description}"
                           value="포트폴리오에 대한 상세 정보를 작성해주세요\n템플릿에 따라 변동됩니다"
                           required>
                </div>
                <div class="btn-wrap">
                    <button type="submit" class="write-btn">작성하기</button>
                    <button type="button"
                            onclick="history.back()"
                            class="cancel-btn">취소</button>
                </div>
            </form>
        </section>
        <aside class="template-select">
            <h2>템플릿 선택</h2>
            <ul class="template-list">
                <li>
                    <div class="radio-input-group">
                        <input type="radio" id="template-1" name="template">
                        <label>템플릿 1</label>
                    </div>
                    <span>프로젝트 설명을 위한 기본 템플릿 1</span>
                </li>
                <li>
                    <div class="radio-input-group">
                        <input type="radio" id="template-2" name="template">
                        <label>템플릿 2</label>
                    </div>
                    <span>프로젝트 설명을 위한 기본 템플릿 1</span>
                </li>
                <li>
                    <div class="radio-input-group">
                        <input type="radio" id="template-custom" name="template">
                        <label>자유 템플릿</label>
                    </div>
                    <span>자유 형식 템플릿</span>
                </li>
                <li>
                    <div class="radio-input-group">
                        <input type="radio" id="template-ai" name="template">
                        <label>AI 추천 템플릿</label>
                    </div>
                    <span>Alan AI가 추천하는 템플릿</span>
                </li>
            </ul>
        </aside>
    </div>
</main>
<footer></footer>
</body>
</html>