<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/common/styles.css}">
    <link rel="stylesheet" th:href="@{/ckeditor5/ckeditor5.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" th:href="@{/css/portfolio/portfolio_write.css}">
    <title th:text="${editDto.writeDto.title} + ' 편집 | DevFolio'">포트폴리오 편집 | DevFolio</title>
</head>
<body>
<header></header>
<main>
    <div class="container">
        <section class="form-section">
            <div class="title-box">
                <h1>포트폴리오 편집하기</h1>
                <span>*은 필수 입력 항목입니다.</span>
            </div>
            <form th:action="@{/portfolio/{id}/edit/(id=${editDto.portfolioIdx})}"
                  method="post" id="write-form"
                  enctype="multipart/form-data"
                  th:object="${editDto}">
                <div class="input-group">
                    <label for="title" class="group-label">
                        <span>제목</span>
                        <span class="required-mark">*</span>
                    </label>
                    <input type="text" id="title" th:field="*{writeDto.title}"
                           maxlength="200" required>
                    <div th:if="${#fields.hasErrors('writeDto.title')}" class="error-box">
                        <span th:errors="*{writeDto.title}" class="form-error"></span>
                    </div>
                </div>
                <div class="input-group">
                    <label for="start-date" class="group-label">
                        <span>프로젝트 기간</span>
                    </label>
                    <input type="date" id="start-date" th:field="*{writeDto.startDate}">
                    <span>-</span>
                    <input type="date" id="end-date" th:field="*{writeDto.endDate}">
                    <div th:if="${#fields.hasErrors('writeDto.startDate')}" class="error-box">
                        <span th:errors="*{writeDto.startDate}" class="form-error"></span>
                    </div>
                    <div th:if="${#fields.hasErrors('writeDto.endDate')}" class="error-box">
                        <span th:errors="*{writeDto.endDate}" class="form-error"></span>
                    </div>
                    <div>
                        <span class="form-error date"></span>
                    </div>
                </div>
                <div class="input-group category-input-group">
                    <div class="group-label">
                        <span>카테고리</span>
                        <span class="required-mark">*</span>
                    </div>
                    <div class="category-box">
                        <ul class="category-list">
                            <li th:each="category : ${categoryList}">
                                <input type="checkbox" th:id="'category ' + ${category.categoryIdx}"
                                       th:field="*{writeDto.categories}" th:value="${category.categoryIdx}"
                                >
                                <label th:for="'category ' + ${category.categoryIdx}"
                                       th:text="${category.nameKo}">카테고리 이름</label>
                            </li>
                        </ul>
                        <span>카테고리는 중복 선택할 수 있습니다.</span>
                        <span class="form-error category"></span>
                        <div th:if="${#fields.hasErrors('writeDto.categories')}" class="error-box">
                            <span th:errors="*{writeDto.categories}" class="form-error"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group image-input-group">
                    <label for="thumbnail" class="image-label">
                        <img th:src="@{/assets/icon/image.svg}" alt="이미지 아이콘">
                        <span>포트폴리오의 썸네일을 추가해주세요</span>
                    </label>
                    <input type="file" id="thumbnail" accept="image/*" th:field="*{writeDto.thumbnail}">
                    <div class="image-preview">
                        <div class="original-image-box">
                            <img
                                id="original-image"
                                th:if="*{thumbnailUrl}"
                                th:src="${editDto.thumbnailUrl}"
                                alt="원본 이미지">
                        </div>
                        <div class="preview-box">
                            <img id="preview-image" alt="업로드한 이미지 미리보기">
                            <button type="button" class="img-remove-button">
                                <img th:src="@{/assets/icon/x-lg.svg}" alt="취소 버튼">
                            </button>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('writeDto.thumbnail')}" class="error-box">
                        <span th:errors="*{writeDto.thumbnail}" class="form-error"></span>
                    </div>
                </div>
                <div class="input-group textarea-input-group">
                    <label for="editor" class="group-label">
                        <span>상세 설명</span>
                        <span class="required-mark">*</span>
                    </label>
                    <div class="error-box">
                        <span class="form-error editor"></span>
                    </div>
                    <div class="main-container">
                        <div
                            class="editor-container editor-container_classic-editor editor-container_include-style editor-container_include-fullscreen"
                            id="editor-container"
                        >
                            <div class="editor-container__editor">
                                <textarea id="editor" th:field="*{writeDto.description}"></textarea>
                            </div>
                        </div>
                        <div id="image-list-box">
                            <th:block th:if="*{writeDto.images}"
                                      th:each="imageUrl : *{writeDto.images}"
                            >
                                <input type="hidden" th:field="*{writeDto.images}" th:value="${imageUrl}">
                            </th:block>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('writeDto.description')}" class="error-box">
                        <span th:errors="*{writeDto.description}" class="form-error"></span>
                    </div>
                </div>
                <div class="button-wrap">
                    <button type="submit" class="write-button">수정하기</button>
                    <button type="button"
                            onclick="history.back()"
                            class="cancel-button">취소</button>
                </div>
            </form>
        </section>
        <aside class="template-select">
            <div class="select-toggle">
                <button type="button" class="select-toggle-button">
                    <img th:src="@{/assets/icon/clipboard.svg}" alt="템플릿 버튼 아이콘">
                    <span>템플릿</span>
                </button>
            </div>
            <div class="select-content">
                <h2>템플릿 추가</h2>
                <ul class="template-list">
                    <li>
                        <div class="radio-input-group">
                            <input type="radio" id="template-custom" name="template" checked>
                            <label>자유 템플릿</label>
                        </div>
                        <span>자유 형식 포트폴리오 템플릿</span>
                    </li>
                    <li>
                        <div class="radio-input-group">
                            <input type="radio" id="template-ai" name="template">
                            <label>AI 추천 템플릿</label>
                        </div>
                        <span>Alan AI가 추천하는 포트폴리오 템플릿</span>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</main>
<footer></footer>
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "/ckeditor5/ckeditor5.js",
            "ckeditor5/": "/ckeditor5/",
            "ckeditor5Config": "/js/ckeditor5/ckeditor5-config.js"
        }
    }
</script>
<script type="module" th:src="@{/js/portfolio/portfolio-write.js}"></script>
<script type="module" th:src="@{/js/portfolio/portfolio-edit.js}"></script>
</body>
</html>